
#install-btn {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 2px;
    right: 5px;
}
body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
    background-color:#fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
h1 {
  padding: 0;
  margin: 0;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  width: 100%;
  background-color: rgb(247, 111, 32);
  color: white;
}
h1 img {
  margin-right: 20px;
}
h2 {
  line-height: 15px;
  height: 15px;
  width: 100%;
  background-color: white;
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  padding: 10px;
}
#chatbox {
  overflow: scroll;
  padding: 10px;
  height: 305px;
  font-weight: 100;
}
#content {
  width: 100%;
}
#saysomething {
  margin-left: auto;
  margin-right: auto;
  width: 308px;
}
input {
  border: 0;
  height: 21px;
  width: 180px;
  line-height: 21px;
  font-size: 18px;
  vertical-align: bottom;
}
.btn {
  height: 25px;
  width: 100px;
  background-color: rgb(247, 111, 32);
  color: white;
  border-radius: 0px;
}